<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
        <label for="post-title">title:</label>
      <input class="post-title" name="post-title" type="text" value="{{blogPost.title}}" />
      <label for="post-content">Content:</label>
      <textarea class="post-content" name = "post-content" >{{blogPost.post_content}}</textarea>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea class="comment-content" name="comment-content"></textarea>
  </div>
    <div class="comments">
  {{#each blogPost.comments as |comment|}}
  <section class="comment">
    <div class="content">
      {{blogPost.user.user_name}} on {{comment.created_at}}
    </div>
    <div class="text">
      {{comment.comment_content}}
    </div>
  </section>
  {{/each}}
</div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<script src="/javascript/postComment.js"></script>
<script src="/javascript/editPost.js"></script>
<script src="/javascript/deletePost.js"></script>