<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
        <label for="post-title">title:</label>
      <input name="post-title" type="text" value="{{post.title}}" />
      <label for="post-content">Content:</label>
      <textarea name = "post-content" >({{post.post_content}})</textarea>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} comments</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
    <div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="content">
      {{user.user_name}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_content}}
    </div>
  </section>
  {{/each}}
</div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>