
<article class="post">
  {{#if loggedIn}}
  <a href="/dashboard"> &larr; Back to dashboard</a>
  {{else}}
  <a href="/"> &larr; Back to Home</a>
  {{/if}}
    <div class="title">
        <h3>{{blogPost.title}}</h3>
    </div>
    <div class="content">
        <p>{{blogPost.post_content}}</p>
    </div>
    <div class="post-creator">
      {{#if blogPost.user.user_name}}
      <p>Created by: {{blogPost.user.user_name}}</p>
      {{else}}
      <p>Created by: unknown</p>
      {{/if}}
    </div>
    <div class="date">
      <p>Date created: {{date_formatting blogPost.created_at}}</p>
    </div>
</article>

<form class="comment-form">
{{#if loggedIn}}
<h2>Add Comment: </h2>
  <div>
    <textarea class="comment-content" name="comment-content"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
  {{/if}}
</form>

<div class="comments">
  <h2>Comments:</h2>
  {{#each blogPost.comments as |comment|}}
  <section class="comment">
    <div class="text">
      {{comment.comment_content}}
    </div>
    <div class="content">
      Created by {{comment.user.user_name}} on {{date_formatting comment.created_at}}
    </div>
    <form class="delete-comment-form" id="id-{{comment.id}}">
      <button class="delete-comment-btn">Delete</button>
    </form>
  </section>
  {{/each}}
</div>

<script src="/javascript/postComment.js"></script>
