<article class="post">
    <div class="title">
        <h3>{{blogPost.title}}</h3>
    </div>
    <div class="content">
        <p>{{blogPost.post_content}}</p>
    </div>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>

<div class="comments">
  {{#each blogPost.comment}}
  <section class="comment">
    <div class="content">
      {{blogPost.user.user_name}} on {{blogPost.comment.created_at}}
    </div>
    <div class="text">
      {{blogPost.comment.comment_content}}
    </div>
  </section>
  {{/each}}
</div>
